<!doctype html>
<html lang="en">

    <head>
        <title>Success Page</title>

    </head>
    <style>
        @media only screen and (max-width: 768px) {
            .element {
                width:90vw;
                height:20vh; /* Font size for smaller screens */
            }
        }

        /* Media query for devices with a maximum width of 480px (e.g., smartphones) */
        @media only screen and (max-width: 480px) {
            .element {
                width:150vw;
                height:150vh;/* Font size for smartphones */
            }
        }
    </style>

    <body class="loginBackground">

        <div class="container p-3">
            {{!-- <div class="text-center">
                <h5>Welcome! You have successfully logged in with monitor: {{ monitorId }}.</h5>
            </div> --}}

            <div class="d-flex">
                <div class="p-1"><h5>Your aqi for pm2.5 is {{ aqi.PM25 }}</h5></div>
                <div class="ml-auto p-1"><h5>Your  aqi for pm10 is {{aqi.PM10}}</h5></div>
            </div>

    `       <div class="text-center">
                <h2 id = 'aqi'> Your current AQI score is {{ aqiScore }}</h2>
            </div>
        </div>



        <div class="container p-3 mt-3 text-center">

            <div class="row">
                <div class = "col-sm text-center">
                    <h2 class = "mt-4">Air Quality Index (AQI):</h2>
                    <p>The Air Quality Index (AQI) is a numerical scale used to show how polluted 
                        the air currently is. It provides a way to understand the potential health hazards of 
                        different levels of air pollution. The AQI ranges from 0 to 500, where lower values indicate 
                        better air quality and higher values indicate worse air quality. <br> <br>
                        The AQI is divided into different categories, each associated with a color code and indicating 
                        the level of hazards. Find out more at https://www.airnow.gov/aqi/aqi-basics/.</p>
                </div>
            </div>

        </div>
            

        <script>
            if ({{ aqiScore }} <= 50) {
                document.getElementById('aqi').style.color = "lime";
            }
            else if ({{ aqiScore }} <= 100) {
                document.getElementById('aqi').style.color = "yellow";
            }
            else if ({{ aqiScore }} <= 150) {
                document.getElementById('aqi').style.color = "orange";
            }
            else if ({{ aqiScore }} <= 200) {
                document.getElementById('aqi').style.color = "red";
            }
            else if ({{ aqiScore }} <= 300) {
                document.getElementById('aqi').style.color = "purple";
            }
            else {
                document.getElementById('aqi').style.color = "maroon";
            }
        </script>

        <div class="container p-3 text-center">
            <div class="row">
                <div class = "col-sm">

                    <h2>PM2.5 and PM10 Values:</h2>
                    <p>PM2.5 refers to particulate matter or air pollutants that have a diameter of 2.5 micrometers 
                        or less. PM10 refers to particulate matter with a diameter of 10 micrometers or less. These 
                        particles can include dust, pollen, and other pollutants. Monitoring these values helps to 
                        show any indication of potential health impacts from the air quality.</p>

                </div>
                <div class = "col-sm">
                    <h2>Data Visualization:</h2>
                    <p>The data visualization shows the concentrations of PM2.5 and PM10 pollutants over time in your area. 
                        The x-axis represents the timestamp, and the y-axis represents the concentration in micrograms 
                        per cubic meter (µg/m³). This visualization helps to see the trends and patterns in your air pollution 
                        levels.</p>
                </div>
            </div>
            <canvas id="myChart" class = "element"></canvas>
            <script>
                const chartData = {{{data}}};
            </script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
            document.addEventListener("DOMContentLoaded", async function() {
                
        const ctx = document.getElementById('myChart').getContext('2d');
            const options = {
                scales: {
                yAxes: [{
                    ticks: {
                    beginAtZero: true
                    }

                }]
                }
            };
            const myChart = new Chart(ctx, {
            type: 'line',
            data: {{{data}}}
            });
            });

            </script>
            {{!-- <img class="img-fluid mb-4" src = {{img_src}} alt = "Data Visualization" > --}}
        </div>

    </body>
</html>